

body{
    background-color: rgb(35, 28, 28);
  }
  
  .to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
  
  }
  h1{
    font-size: 4rem;
    color: white;
  
  }
  button{
    font-size: 1.7rem;
    background-color: black;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.5 ease;
  
  
  
  }
  .add-button{
    background-color: aquamarine;
  }
  .add-button:hover{
    background-color: azure;
  
  }
  .delet-button{
    background-color: red;
  
  }
  .delet-button:hover{
    background-color: burlywood;
  }
  .move-button{
    background-color: rgb(68, 100, 241);
  
  
  }
  .move-button:hover{
    background-color: aquamarine;
  
  
  }
  input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid rgb(230, 156, 156);
    border-radius: 5px;
    color: black;
  }
  ol{
    padding: 0;
  }
    li{
      font-size: 2rem;
      font-weight: bold;
      padding: 15px;
      background-color: antiquewhite;
      margin-bottom: 10ps;
      border: 3px solid rgb(197, 121, 121);
      border-radius: 5px;
      display: flex;
      align-items: center;
      
    }
    .text{
      flex: 1;
     
    }
    .delet-button{
      padding: 8px 12px;
      font-size: 1.4rem;
      margin-left: 10px;
    }
  